@use "./colors";

.btn {
  padding: 10px 20px;
  border: 1px solid colors.$primary-color;
  border-radius: 5px;
  background: colors.$primary-color;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken(colors.$primary-color, 5%);
    transition: all ease-in-out 0.1s;
  }

  svg {
    margin-right: 5px;
  }
}
