@use "../../styles/colors";
@use "../../styles/globals";
@use "../../styles/buttons";
@use "../../styles/form";

.modal {
  position: absolute;
  width: 38rem;
  height: 400px;
  display: inline-block;
  align-items: center;
  top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: darken(colors.$secondary-color, 2%);
  padding: 30px 0;
  border-radius: 5px;
  max-width: 38rem;

  .header {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 480px;
    text-align: left;
    padding-left: 10px;

    svg {
      display: flex;
      align-items: flex-end;
      font-size: 1.2rem;
      margin: 5px;
    }

    .titleChange {
      margin: 5px;
    }

    p {
      width: 100%;
      padding: 5px;
      word-wrap: break-word;
      cursor: text;
    }

    textarea {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid colors.$primary-color;
      outline: none;
      border: none;
      resize: none;
      font-family: inherit;
      font-size: 14px;
      font-weight: 400;

      &:focus {
        outline: none;
        border: none;
      }
    }

    .errorBtn {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .description {
    display: flex;
    align-items: center;
  }

  .descAdd {
    background-color: darken(colors.$secondary-color, 5%);
    cursor: pointer;
    font-size: 1rem;
    max-width: 480px;
    padding-bottom: 20px;
    margin: 5px;

    &:hover {
      background-color: darken(colors.$secondary-color, 10%);
    }
  }

  form {
    padding: 5px;
    max-width: 480px;
  }

  .btn {
    width: 100%;
  }

  .edit {
    background-color: darken(colors.$secondary-color, 5%);
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;

    &:hover {
      background-color: darken(colors.$secondary-color, 10%);
    }
  }

  .addListBtns {
    display: flex;
    align-items: center;

    .btnAddList {
      background: colors.$primary-color;
      border: none;
      border-radius: 5px;
      color: colors.$secondary-color;
      padding: 8px 10px;
      cursor: pointer;

      &:hover {
        background: darken(colors.$primary-color, 5%);
      }
    }

    .closeAddList {
      border: none;
      cursor: pointer;
      background: none;
      margin-left: 10px;
      font-size: 1.3rem;
      color: #333;
    }
  }

  .remove {
    background-color: colors.$error-color;
    border-color: colors.$error-color;

    &:hover {
      background-color: darken(colors.$error-color, 5%);
    }
  }
}

.formGroup {
  button {
    margin-left: 10px;
  }
}

.formGroups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  max-width: 480px;

  input {
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 480px;
    border: 1px solid darken(colors.$secondary-color, 20%);

    height: 35px;

    &:focus {
      outline: transparent;
      border: transparent;
    }
  }
}
